<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.yzernik.squeakand">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="io.github.yzernik.squeakand.SqueakAndApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateSqueakActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/activity_create_squeak_label" />
        <activity
            android:name=".ViewSqueakActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/activity_view_squeak_label" />
        <activity
            android:name=".ManageProfilesActivity"
            android:parentActivityName=".CreateSqueakActivity"
            android:label="@string/activity_manage_profiles" />
        <activity
            android:name=".NewProfileActivity"
            android:parentActivityName=".ManageProfilesActivity"
            android:label="@string/activity_create_profile" />
        <activity
            android:name=".ElectrumActivity"
            android:parentActivityName=".CreateSqueakActivity"
            android:label="@string/activity_electrum" />
        <activity
            android:name=".NewContactActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/activity_add_contact" />
        <activity
            android:name=".ViewProfileActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/activity_view_profile" />
        <activity
            android:name=".ViewServerActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/activity_view_server" />
        <activity
            android:name=".ViewAddressActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/activity_view_address" />
        <activity
            android:name=".BuySqueakActivity"
            android:parentActivityName=".ViewSqueakActivity"
            android:label="@string/activity_buy_squeak" />
    </application>

</manifest>